APP_NAME="Digital Shop"
APP_ENV=local
APP_KEY=base64:4kEVj7j1M23ottd7Pk6/lVk2tzlMkqqpcq4fepnEgeo=
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=app
DB_USERNAME=app
DB_PASSWORD=secret

QUEUE_CONNECTION=database
CACHE_STORE=database
SESSION_DRIVER=database

SUPPLIER_A_URL=http://nginx/suppliers/a/issue
SUPPLIER_A_TIMEOUT=1
SUPPLIER_A_MAX_ATTEMPTS=3
SUPPLIER_A_MODE=timeout_after_issue
SUPPLIER_A_SLEEP_MS=3000

SUPPLIER_B_URL=http://nginx/suppliers/b/issue
SUPPLIER_B_TIMEOUT=2
SUPPLIER_B_MAX_ATTEMPTS=3
SUPPLIER_B_MODE=ok
SUPPLIER_B_SLEEP_MS=2000
